/* Add CSS Styling */
p {
    background-color: rgb(228, 111, 150);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#two {
    color: rgb(6, 6, 245);
    font-size: 32px;
}

#four {
    background-color: rgb(117, 240, 136);
    font-size: 24px;
    font-weight: bold;
}